:root {
  --el-font-size-extra-large: 24px;
  --el-font-size-large: 20px;
  --el-font-size-medium: 18px;
  --el-font-size-base: 16px;
  --el-font-size-small: 15px;
  --el-font-size-extra-small: 14px;
}

// Layout
// NOTE: This app is Mobile first layout design!
$layout-padding: 20px;
// Breakpoints
$break-tablet: 587px;
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;
