// Setup
@import './setup/_functions.scss';
@import './setup/_mixins.scss';
@import './setup/_typography.scss';
@import './setup/_variables.scss';

// Basics
@import './basics/_base.scss';
@import './basics/_helpers.scss';
@import './basics/_layout.scss';

// Components
@import './components/toy/toy-filter.scss';
@import './components/toy/toy-list.scss';
@import './components/toy/toy-preview.scss';

@import './components/review/review-preview.scss';
@import './components/app-header';
@import './components/app-footer';
@import './components/chat-btn.scss';
@import './components/loader';

// Views
@import './views/toy-app.view';
@import './views/auth.view';
@import './views/toy-details.view';

.main-app {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.main-view {
  margin-block: 15px;
  padding-inline: 10px;
}
